.coche{
    background-image: url(/coche.jpg);
    background-size: cover;
    background-position: center;
    width: 2000px;
    height: 500px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.coche ul li{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.coche ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 40px 20px;
}
.coche ul li a:hover{
    background-color: burlywood;
}
.anuncio{
    margin-top: 170px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.bmw{
    margin-top: -300px;
}
.bmw{
    margin-left: 1200px;
    width: 50px;
    height: 50px;
    background-color: white;

}  

.button{
    color: white;
    background-color: blue;
    margin-left: 10px;
    padding: 16px;
    min-width: 240px;
    border: 0;
}
.button:hover{
    background-color: transparent;
}
.father{
margin-left: 200px;;
}
.menu{
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
}
.menu span{
    margin-top: 4px;
    padding: 32px 34px 32px 34px;
    color: #a5a4a4;
    border-bottom: 1px solid #BABABA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.menu .menu__cabrio{
    margin-top: 0;
    border-bottom: 4px solid #1652a6;
    color: #343232;
    font-size: 25px;
    padding: 20px;
    font-weight: 700;
}

.imagen{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: bold;
    width: 1200px;
    height: 1000px;
}
.imagen-bmw{
    font-size: 15px;
    margin-left: 20px;
    object-fit: cover;
}

.imagen p{
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
button{
    color: gray;
    border: none;
    margin: none;
}
.imagen .text__img{
    font-size: 20px;
    color: #333333;
    font-weight: 800;
    font-weight: bold;
}
.imagen .text__imagen{
    font-weight: 600;
    font-size: 14px;
    color: #BABABA;
}
.text__button{
    font-size: 14px;
    color: #333333;
    font-weight: 800;
}

h3{
    font-size: 14px;
    font-weight: 800;  
    font-size: 30px;
    color: #BABABA;
}
.particular{
    background-color: white;
    width: 400px;
    height: 400px; 
}